.container{
    flex:5;  
}

.title{
    padding: 50px 0px;

}

.posts{
    display: flex;
    flex-direction: column;
    gap:50px;
}

.post{
    display: flex;
    gap: 20px;
 
}

.img{
    width: 400px;
    position: relative;
}