.container{
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    width: 44px;
    height: 22px;
    justify-content: space-between;
    padding: 0px 2px;
    position: relative;
}

.ball{
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: var(--bg);
    border-radius: 50%;
    right: 1px;
    /* left: 2px; */
}